<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" class="default-style">

<head>
    <title>作业录</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Icon fonts -->
    <link rel="stylesheet" href="/back/fonts/fontawesome.css">
    <link rel="stylesheet" href="/back/fonts/ionicons.css">
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/back/css/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="/back/css/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="/back/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="/back/css/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="/back/css/uikit.css">
    <link rel="stylesheet" href="/back/css/demo.css">
</head>

<body>
<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <div class="layout-inner">


        <!-- Layout sidenav -->
        <iframe src="/left" scrolling="no"></iframe>
        <!-- / Layout sidenav -->
        <!-- Layout container -->
        <div class="layout-container">
            <!-- Layout navbar -->
            <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x"
                 id="layout-navbar">

                <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
                <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                    <a class="nav-item nav-link px-0 ml-2 ml-lg-0" href="javascript:void(0)">
                        <i class="ion ion-md-menu text-large align-middle"></i>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#layout-navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <!-- / Layout navbar -->

            <!-- Layout content -->
            <div class="layout-content">

                <!-- Content -->
                <div class="container-fluid flex-grow-1 container-p-y">
                    <div class="card">
                        <h6 class="card-header" th:if="${userType}">
                            <button class="btn btn-primary btn-insert" data-toggle="modal"
                                    data-target="#modals-fill-in">新增
                            </button>
                        </h6>
                        <div>
                            <form method="post" action="/job">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3 text-sm-right">班级</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" th:value="${className}"
                                               placeholder="输入搜索班级" name="className" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3 text-sm-right">课程名称</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" th:value="${course}" placeholder="课程名称"
                                               name="course" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-7 ml-sm-auto">
                                        <button type="submit" class="btn btn-primary">search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-datatable table-responsive">
                            <table class="datatables-demo table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>班级</th>
                                    <th>课程名称</th>
                                    <th>第几次作业</th>
                                    <th>对应老师</th>
                                    <th>作业标题</th>
                                    <th>已交作业人数</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeA" th:each="job:${list}">
                                    <td th:text="${job.className}"></td>
                                    <td th:text="${job.course}"></td>
                                    <td th:text="${job.num}"></td>
                                    <td th:text="${job.teacher}"></td>
                                    <td th:text="${job.name}"></td>
                                    <td>
                                        <span th:if="${job.studentNum} ne null">
                                            <span th:text="${job.studentNum}"></span>
                                        </span>
                                        <span th:unless="${job.studentNum} ne null">
                                            暂时无人提交
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-update" th:value="${job.id}"
                                                data-toggle="modal" data-target="#modals-fill-in" th:if="${userType}">修改
                                        </button>
                                        <button class="btn btn-warning btn-upload" th:value="${job.id}"
                                                data-toggle="modal" data-target="#modals-upload">上传
                                        </button>
                                        <!--                                        <button id="bootbox-confirm" class="btn btn-danger btn-delete"-->
                                        <!--                                                th:value="${job.id}">-->
                                        <!--                                            删除-->
                                        <!--                                        </button>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
            </div>
            <!-- Layout content -->
        </div>
        <!-- / Layout container -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- update -->
<div class="modal modal-fill-in fade" id="modals-fill-in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-body text-white">
                <p class="text-large font-weight-light mb-3">新增或修改</p>
                <hr/>
                <form name="jobForm" method="post" action="/jobSave">
                    <input type="hidden" name="id">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">课程名称</label>
                        <div class="col-sm-5">
                            <input type="text" list="showCourse" class="form-control" placeholder="课程名称" name="course"
                                   required>
                            <datalist id="showCourse">
                                <option th:each="courseInfo:${courseList}" th:value="${courseInfo.course}"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">教师</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="教师" name="teacher" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">班级</label>
                        <div class="col-sm-5">
                            <input type="text" list="showClass" class="form-control" placeholder="班级" name="className"
                                   required>
                            <datalist id="showClass">
                                <option th:each="studentClass:${studentClassList}"
                                        th:value="${studentClass.className}"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">作业标题</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="作业标题" name="name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">次数</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" placeholder="第几次作业" name="num" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">描述</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" name="remark" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7 ml-sm-auto">
                            <button type="submit" class="btn btn-primary">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end -->

<!-- upload -->
<div class="modal modal-fill-in fade" id="modals-upload">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-body text-white">
                <p class="text-large font-weight-light mb-3">上传作业</p>
                <hr/>
                <div style="color: red;font-size: 32px;font-weight: bold;">注意：提交后无法修改，请再次确认</div>
                <form name="uploadForm" method="post" action="/fileUpload" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="job_id">
<!--                    <div class="form-group row">-->
<!--                        <label class="col-form-label col-sm-3 text-sm-right">姓名</label>-->
<!--                        <div class="col-sm-5">-->
<!--                            <input type="text" class="form-control" placeholder="输入你的名字" name="name" required>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3 text-sm-right">上传作业rar架包</label>
                        <div class="col-sm-5">
                            <input type="file" class="form-control" placeholder="作业" name="file_upload" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7 ml-sm-auto">
                            <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end -->
<!-- Core scripts -->
<script src="/back/js/layout-helpers.js"></script>
<script src="/back/js/jquery.min.js"></script>
<script src="/back/js/popper.js"></script>
<script src="/back/js/bootstrap.js"></script>
<script src="/back/js/sidenav.js"></script>
<script src="/back/js/perfect-scrollbar.js"></script>
<script src="/back/js/bootbox.js"></script>
<!-- Libs -->
<!-- Demo -->
<script src="/back/js/demo.js"></script>
<script src="/back/js/business.js"></script>
<script src="/back/js/job.js"></script>
</body>

</html>