<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" class="default-style">

<head>
    <title>学生信息修改</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Icon fonts -->
    <link rel="stylesheet" href="/back/fonts/fontawesome.css">
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/back/css/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="/back/css/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="/back/css/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="/back/css/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="/back/css/uikit.css">
    <link rel="stylesheet" href="/back/css/demo.css">
</head>

<body>
<div class="page-loader">
    <div class="bg-primary"></div>
</div>

<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
    <div class="layout-inner">


        <!-- Layout sidenav -->
        <iframe src="/left" scrolling="no"></iframe>
        <!-- / Layout sidenav -->

        <!-- update -->
        <div class="layout-wrapper layout-2">
            <div class="layout-inner">
                <div class="modal-body">
                    <div class="form-group row">修改学生信息</div>
                    <hr/>
                    <form method="post" action="/student/update">
                        <input type="hidden" th:value="${student.id}" name="id"/>
                        <input type="hidden" th:value="${student.type}" name="type" />
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3 text-sm-right">考号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="考号" name="num" th:value="${student.num}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3 text-sm-right">名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="名称" name="name" th:value="${student.name}"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3 text-sm-right">班级</label>
                            <div class="col-sm-5">
                                <select name="classId" class="form-control">
                                    <option th:each="studentClass:${studentClassList}"
                                            th:value="${studentClass.id}" th:text="${studentClass.className}" th:selected="*{studentClass.id} == ${student.getClassId()}" ></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3 text-sm-right">登录用户名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" th:value="${student.userName}" placeholder="登录用户名" name="userName" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3 text-sm-right">登录密码</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" placeholder="登录密码" name="passWord" required th:value="${student.passWord}" id="pass_change">
                                <input type="hidden" value="0" id="pass_change_value" name="passChange">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 ml-sm-auto">
                                <button type="submit" class="btn btn-primary">save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->
<!-- Core scripts -->
<script src="/back/js/layout-helpers.js"></script>
<script src="/back/js/jquery.min.js"></script>
<script src="/back/js/popper.js"></script>
<script src="/back/js/bootstrap.js"></script>
<script src="/back/js/sidenav.js"></script>
<script src="/back/js/perfect-scrollbar.js"></script>
<script src="/back/js/bootbox.js"></script>
<script src="/back/js/student.js"></script>
<!-- Libs -->
<!-- Demo -->
</body>

</html>